__pycache__
*.pyc
*.pyo
*.pyd
venv
env
.venv
.env
ENV
build
dist
*.egg-info
.eggs
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.log
.idea
.vscode
Dockerfile
docker-compose.yml
.dockerignore
minikube-linux-amd64
