__pycache__/
*.py[cod]
*.pyo
*.pyd

build/
dist/
*.egg-info/
*.egg

venv/
env/
ENV/
.venv/
.env/

.tox/
.coverage
.cache/

.ipynb_checkpoints/
profile_default/
ipython_config.py

minikube-linux-amd64

*.log
